@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	min-height: 100vh;
}

/* Router animation */
.route-enter-from,
.route-leave-to {
	opacity: 0;
	transform: translateY(-30px);
}
.route-enter-active,
.route-leave-active {
	transition: all 0.3s ease;
}
.route-enter-to,
.route-leave-from {
	opacity: 1;
	transform: translateY(0);
}
